.catalog-container {
    display: flex;
    flex-direction: column;
}
.catalog-banner-container {
    display: flex;
    background: url(./catalog-img/catalog-main-banner.png) no-repeat 0 0;
    max-width: 1440px;
    width: 100%;
    height: 461px;
    margin-bottom: 60px;
}
.catalog-b-desc {
    max-width: 1440px;
    height: 461px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 130px;
}
.catalog-b-desc h2{
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    color: #FFFEFA;
}
.caps-catalog {
    display: flex;
}
.caps-catalog #sort {
    border: 1px;
    border-color: #C4C4C4;
    border-radius: 1px;
    padding: 10px;
}

.catalog-pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 300px 0px;
    padding: 0px 100px 90px;
}
.catalog-pages a{
    color: black;
    text-decoration: none;
}
.catalog-sorting {
    display: flex;
    justify-content: flex-end;
    padding: 0px 100px 50px;
}
#sort-product {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    width: 270px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    border-color: #C4C4C4;
}
.catalog-pages a:hover {
    text-decoration: underline 2px;
    font-weight: 700;
    text-underline-offset: 10px;
}