.slider-card-container {
    padding: 0px 100px 0px;
}
@media (max-width: 1000px) {
    .slider-card-container {
        padding: 0px 80px 0px;
    }
}
.flex-row {
    margin-right: 30px;
}
.desc-year {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}
.text-margin {
    margin: 12px 20px 0px 38px;
}
.small-caps-container {
    display: flex;
    justify-content:space-between;
    margin-bottom: 80px;
}
.small-c-custom{
    width: 5750px;
    height: 320px;
    border-radius: 50px;
    background: url(./img-slider/custom-slider.png) no-repeat 0 0;
}
.small-c-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 320px;
    color: #FFFDFD;
}
.small-c-desc h3 {
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
}
.small-c-desc p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.small-c-exclusive{
    width: 570px;
    height: 324.06px;
    border-radius: 50px;
    background: url(./img-slider/exclusive-slider.png) no-repeat 0 0;
}
.imagesList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 55px 0px;

}
.img_text {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img_text img {
    width: 218px;
    height: 144px;
    box-sizing: border-box;
}
@media (max-width: 850px) {
    .img_text img {
        width: 170px;
        height: 140px;
        box-sizing: border-box;
    }
}
.img_text h1 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #847E7E;

}
.img_text p {
    margin: 11px 0;
    color: #847E7E;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.05em;
}
.yellow {
    color: #FDDB16;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.slider-container .prev, .slider-container .next{
    cursor:pointer;
}
.prev{
  background:url(./img-slider/Vector.jpg) no-repeat 0 0;
}
.next{
  background:url(./img-slider/Vector_2.jpg) no-repeat 0 0;
}
.head h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}