.custom {
    margin-top: 144px;
    margin-bottom: 114px;
    padding: 0px 100px 0px; 
}
@media (max-width: 1000px) {
    .custom  {
        height: 88px;
        margin-top: 95px;
        padding: 0px 87px 0px 21px;
    }
}
.custom h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}
@media (max-width: 1000px) {
    .custom h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}
.num {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.num h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FDDB16;
    margin-right: 10px;
}
@media (max-width: 1000px) {
    .num h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
}
.num p {
    font-family: 'Montserrat' , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 14px;
    margin-right: 10px;
}
@media (max-width: 1000px) {
    .num p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-top: 3px;
        margin-right: 10px;
    }
}

.number {
    display: flex;
}